<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>1</integer>
    <key>finishColorAlpha</key>
    <real>0.2</real>
    <key>finishColorBlue</key>
    <real>0.3</real>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <real>0.85</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>19</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>7</integer>
    <key>maxRadius</key>
    <integer>174</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>106</integer>
    <key>particleLifespan</key>
    <real>0.48</real>
    <key>particleLifespanVariance</key>
    <real>0.4</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>-1233</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>-1233</integer>
    <key>rotationStartVariance</key>
    <integer>165</integer>
    <key>sourcePositionVariancex</key>
    <integer>185</integer>
    <key>sourcePositionVariancey</key>
    <integer>110</integer>
    <key>sourcePositionx</key>
    <real>541.5247524752475</real>
    <key>sourcePositiony</key>
    <real>671.7171145685998</real>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <real>0.1</real>
    <key>startColorVarianceBlue</key>
    <real>0.2</real>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>49</integer>
    <key>startParticleSizeVariance</key>
    <integer>17</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>c688f75b-5260-4b49-a362-6d1b7774c600</string>
  </dict>
</plist>